@charset "utf-8";

.header{
	text-align:center;
	border-bottom:solid;
	border-width:2px;
	height:100px;
	width:100%
}
.center{
	background-color:#ddffdd;
	width:500px;
	height:auto;
	z-index=1;
	margin-left:auto;
	margin-right:auto;
	border-right-style:solid;
	border-left-style:solid;
}
.footer{
	text-align:center;
	border-top:solid;
	border-width:2px;
	height:100px;
	width:100%;
}
p{
	border-style:groove;
	font-family:"Times New Roman",
	font-size:1em;
}
#header {
	text-align: center;
}
